/*normalize css*/
* {
	box-sizing: inherit;
	margin: 0;
	padding:	0;
}
html {
	font-size: 62.5%;
}

/*css file*/
body {
	font-family: 'Nunito', sans-serif;
	color: black;
	font-size: 1.5rem;
	text-align: center;
	padding:1rem;
	box-sizing: border-box;
	min-height: 100vh;
}
header {
	background-color: lightblue;
	border-radius: .5rem .5rem 0 0;
	box-shadow: .2rem 0 1rem rgba(0,0,0,.2);
}
main {
	background-color: lightgreen;
	padding: 1rem 0;
	border-radius: 0 0 .5rem .5rem;
	box-shadow: 0 .2rem 1rem rgba(0,0,0,.2);
}
header, main {
	max-width: 1200px;
}
h3 {
	padding: 1rem 0;
}
h1, h3 {
	padding-left: .75rem;
	padding-right: .75rem;
}
h1 {
	padding-top: .75rem;
}
p {
	font-size: 1.75rem;
}
.inputs-type {
	margin: 1rem;
	padding: 1rem;
	box-shadow: 0 .2rem 1rem rgba(0,0,0,.2);
}
.units {
	padding: 1rem;
}
input[type='radio'] {
	transform: scale(1.2);
	box-shadow: 0 .2rem 1rem rgba(0,0,0,.2);
}
input[type='radio']:hover {
	transform: scale(1.3);
	box-shadow: 0 .2rem 1rem rgba(0,0,0,.2);
}
.units p {
	display: inline;
	padding: 0 .75rem;
}
#unitsTitle {
	display:inline-block;
	margin-bottom: 1rem;
}
button {
	background-color: transparent;
	padding: 1.5rem;
	margin: 1rem;
	border: .35rem solid darkgrey;
	border-radius: 1rem;
	box-shadow: 0 .2rem 1rem rgba(0,0,0,.2);
	text-transform: uppercase;
}
button:hover {
	transform: scale(1.05);
	box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.2);
}
.red {
	color: red;
}

/*Large Screens...*/
@media (min-width: 600px) {
	body {
		padding: 1.5rem 5rem;
	}
	header, main {
		margin: 0 auto;
	}
}